@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-md-12 login">
        <h2>Log in</h2>
    </div>

    <div class="col-md-5 login-form" id="login-form">
        @using (Html.BeginForm("LoginPost", "Login", FormMethod.Post))
        {
            <div class="form-group">
                E-mail : @Html.TextBox("email", null, new { @class = "form-control" })
            </div>
            <div class="form-group">
                Wachtwoord : @Html.TextBox("wachtwoord", null, new { @class = "form-control", @type = "password" })
            </div>

            <input type="submit" value="Log in" class="btn btn-default" />

            <a href="/Registreer" class="btn btn-default">Registreer</a>
        }
        <button class="btn btn-default" id="barcode">Barcode</button>
        @if (@ViewBag.LoginResult != null && !@ViewBag.LoginResult)
        {

            <br />
            <div class="alert alert-danger" role="alert">
                Er ging iets mis bij het inloggen!
            </div>
        }
        @if (@ViewBag.Result != null)
        {

            <br />
            <div class="alert alert-danger" role="alert">
                <p>@ViewBag.Result</p>
            </div>
        }
    </div>
    <div class="col-md-5 barcode-login" id="barcode-login">
        @using (Html.BeginForm("Barcode", "Login", FormMethod.Post))
        {
            <div class="form-group">
                <input type="text" class="form-control" name="barcode" placeholder="Barcode" />
            </div>
            <input type="submit" value="Log in" class="btn btn-default" />
        }
        <button class="btn btn-default" id="terug">Terug</button>
    </div>
    <div class="col-md-7 instructies">
        <h2>Instructies</h2>
        <p>&bull; Maak een account aan</p>
        <p>&bull; Log in doormiddel van het formulier hiernaast.</p>
        <p>&bull; Klik op login.</p>
        <p>&bull; U wordt doorverwezen naar het systeem</p>
    </div>
</div>